/* Add styling for your page here */

.App {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
   
}

.bakery-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
   }
